#officeIdForm {
    align-content: center;
    margin-left: 10%;
    float: left;
    padding-top: 30px;
    width: 80%;
}

.pollLocation {
    background-color: #3d70b0;
    padding: 10px 0 10px 0;
    color: white;
}

.voteAlert {
    width: 50%;
    margin: auto;
}

.votePodcast {
    padding: 25px 0 25px 0;
}

.voteSearch {
    padding: 0 0 0 0;
    margin: 0px 0 0px 0;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .newPods {
        padding: 40px 0 25px 0;
    }
}